<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <title>Naves Sonda</title>
        <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <link th:href="@{/styles/stylesNaves.css}" rel="stylesheet" type="text/css"/>
                </head>

                <body>
                    <header th:replace="layout/plantilla :: header"/>
                    <h2>Naves Sonda</h2>

                    <section>
                        
                        <div class="home-container_table" th:if="${sondas != null and !sondas.empty}">
                            <table>
                                <tr>
                                    <th>Id</th>
                                    <th>Nombre</th>
                                    <th>Peso [ T ]</th>
                                    <th>Energetico</th>
                                    <th>Objetivo</th>
                                    <th>Ubicacion</th>
                                    <th>Activo</th>
                                    <th>Averiado</th>
                                    <th>Destino</th>
                                    <th>Transmitiendo</th>
                                    <th>Visitar</th>
                                    <th>Modificar</th>
                                    <th>Eliminar</th>
                                </tr>

                                <tr th:each="sonda : ${sondas}">
                                    <td th:text="${sonda.idNave}"></td>
                                    <td th:text="${sonda.nombre}"></td>
                                    <td th:text="${sonda.peso}"></td>
                                    <td th:text="${sonda.energetico}"></td>
                                    <td th:text="${sonda.objetivo}"></td>
                                    <td th:text="${sonda.ubicacion}"></td>
                                    <td th:text="${sonda.activo}"></td>
                                    <td th:text="${sonda.averiado}"></td>
                                    <td th:text="${sonda.destino}"></td>
                                    <td th:text="${sonda.transmitiendo}"></td>
                                    <td>
                                        <a th:href="@{/detallesSonda/} + ${sonda.idNave}"><button>visitar</button></a>
                                    </td>
                                    <td>
                                        <a th:href="@{/editarSonda/} + ${sonda.idNave}"><button>Editar</button></a>
                                    </td>
                                    <td>
                                        <a th:href="@{/eliminarSonda(idNave=${sonda.idNave})}"><button>Eliminar</button></a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="add-button">
                            <a th:href="@{/formularioSonda}"><button>Agregar</button></a>
                        </div>
                    </section>

                </body>

                </html>

