<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
            xmlns:th="http://www.thymeleaf.org"
            xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <title>Plantilla</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        
        <header th:fragment="header">
            <div>
                <a th:href="@{/}"> | Inicio | </a>  <a th:href="@{/lanzadera}"> | Lanzaderas | </a>  
                <a th:href="@{/tripulada}"> | Tripuladas | </a>  <a th:href="@{/sonda}"> | Sonda | </a>  
                <a th:href="@{/deSuministros}"> | De Suministros | </a>
            </div>
            <div>
                <form th:action="@{/buscar}" method="POST" th:object="${buscado}">
                    <input type="text" name="buscador"/>
                    <input type="submit" name="buscar" th:value="Buscar"/>
                </form>
            </div>
            <div></div>
        </header>
        
        <footer th:fragment="footer">
            <div>
                <p>
                    Barrow Rule : Una Clasificacion de las naves espaciales.
                </p>
            </div>
        </footer>
        
    </body>
</html>
