<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <title>Detalles: Nave lanzadera</title>
        <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <link th:href="@{/styles/stylesDetalles.css}" rel="stylesheet" type="text/css"/>
                </head>
                <body>
                    <header th:replace="layout/plantilla :: header"/>

                    <h2>Detalles : Nave Lanzadera</h2>

                    <section class="main_section">

                        <div>
                            <table>
                                <tr>
                                    <th>Valor</th>
                                    <th>Descripcion</th>
                                </tr>
                                <tr>
                                    <td><label for="id">ID</label></td>
                                    <td th:text=${lanzadera.idNave}></td>
                                </tr>
                                <tr>
                                    <td><label for="nombre">Nombre</label></td>
                                    <td th:text=${lanzadera.nombre}></td>
                                </tr>
                                <tr>
                                    <td><label for="peso">Peso [ T ]</label></td>
                                    <td th:text="${lanzadera.peso}"></td>
                                </tr>
                                <tr>
                                    <td><label for="energetico">Energetico</label></td>
                                    <td th:text="${lanzadera.energetico}"></td>
                                </tr>
                                <tr>
                                    <td><label for="objetivo">Objetivo</label></td>
                                    <td th:text="${lanzadera.objetivo}"></td>
                                </tr>
                                <tr>
                                    <td><label for="ubicacion">Ubicacion</label></td>
                                    <td th:text="${lanzadera.ubicacion}"></td>
                                </tr>
                                <tr>
                                    <td><label for="activo">Activo</label></td>
                                    <td th:text="${lanzadera.activo}"></td>
                                </tr>
                                <tr>
                                    <td><label for="averiado">Averiado</label></td>
                                    <td th:text="${lanzadera.averiado}"></td>
                                </tr>
                                <tr>
                                    <td><label for="altura">Altura [ m ]</label></td>
                                    <td th:text="${lanzadera.altura}"></td>
                                </tr>
                                <tr>
                                    <td><label for="vehiculo_a_lanzar">Vehiculo a lanzar</label></td>
                                    <td th:text="${lanzadera.vehiculoALanzar}"></td>
                                </tr>
                                <tr>
                                    <td><label for="lanzado"> Lanzado</label></td>
                                    <td th:text="${lanzadera.lanzado}"></td>
                                </tr>
                                <tr>
                                    <td><p><strong>Metodos de la nave</strong></p></td>
                                    <td>
                                    <a th:href="@{/repararLanzadera/} + ${lanzadera.idNave}"><button>Reparar</button></a>
                                    <a th:href="@{/activarLanzadera/} + ${lanzadera.idNave}"><button>Activar</button></a>
                                    <a th:href="@{/moverLanzadera/} + ${lanzadera.idNave}"><button>Mover</button></a>
                                    <a th:href="@{/reiniciarLanzadera/} + ${lanzadera.idNave}"><button>Reiniciar</button></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p><strong>Editar o Eliminar Lanzadera</strong>
                                    </td>
                                    <td>
                                        <a th:href="@{/editarLanzadera/} + ${lanzadera.idNave}"><button>Editar</button></a>
                                        <a th:href="@{/eliminarLanzadera(idNave=${lanzadera.idNave})}"><button>Eliminar</button></a>
                                    </td>
                                </tr>
                            </table>
                        </div>

                        <div>
                            <div class="main_section_rigth_up">
                                <strong>Resultado del metodo ACTIVAR</strong>
                                <p th:text="${activar}"></p>
                            </div>
                            <div class="main_section_rigth_mid">
                                <strong>Resultado del metodo MOVER</strong>
                                <p th:text="${mover}"></p>
                            </div>
                            <div class="main_section_rigth_down">
                                <strong>Resultado de los metodos REINICIAR y REPARAR</strong>
                                <p th:text="${reparar}"></p>
                                <p th:text="${reiniciar}"></p>
                            </div>
                        </div>

                    </section>

                </body>
                </html>
