<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <title>Formulario : Naves Lanzadera</title>
        <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
                </head>
                <body>

                    <section>

                        <h2>Formulario : Naves Lanzadera</h2>

                        <div>
                            <form th:action="@{/guardarLanzadera}" method="POST" th:object="${lanzadera}">
                                <table>
                                    <tr>
                                        <th>Descripcion</th>
                                        <th>Dato a Ingresar</th>
                                    </tr>
                                    <input type="hidden" name="idNave" th:field="*{idNave}"/>
                                    <tr>
                                        <td>
                                            <label for="nombre">Nombre</label>
                                        </td>
                                        <td>
                                            <input type="text" name="nombre" th:field="*{nombre}"/>
                                            <div th:errors="*{nombre}"></div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label for="peso">Peso [ T ]</label>
                                        </td>
                                        <td>
                                            <input type="number" name="peso" th:field="*{peso}"/>
                                            <div th:errors="*{peso}"></div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label for="energetico">Energetico</label>
                                        </td>
                                        <td>
                                            <input type="text" name="energetico" th:field="*{energetico}"/>
                                            <div th:errors="*{energetico}"></div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label for="objetivo">Objetivo</label>
                                        </td>
                                        <td>
                                            <input type="text" name="objetivo" th:field="*{objetivo}"/>
                                            <div th:errors="*{objetivo}"></div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label for="ubicacion">Ubicacion</label>
                                        </td>
                                        <td>
                                            <input type="text" name="ubicacion" th:field="*{ubicacion}"/>
                                            <div th:errors="*{ubicacion}"></div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label for="activo">Activo</label>
                                        </td>
                                        <td>
                                            <input type="checkbox" name="activo" th:field="*{activo}"/>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label for="averiado">Averiado</label>
                                        </td>
                                        <td>
                                            <input type="checkbox" name="averiado" th:field="*{averiado}"/>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label for="altura">Altura [ m ]</label>
                                        </td>
                                        <td>
                                            <input type="number" name="altura" th:field="*{altura}"/>
                                            <div th:errors="*{altura}"></div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label for="vehiculo_a_lanzar">Vehiculo a lanzar</label>
                                        </td>
                                        <td>
                                            <input type="text" name="vehiculo_a_lanzar" th:field="*{vehiculoALanzar}"/>
                                            <div th:errors="*{vehiculoALanzar}"></div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label for="lanzado"> Lanzado</label>
                                        </td>
                                        <td>
                                            <input type="checkbox" name="lanzado" th:field="*{lanzado}"/>
                                        </td>
                                    </tr>
                                </table>
                                <input type="submit" name="guardarLanzadera" th:value="Guardar"/>
                            </form>
                        </div>

                    </section>

                </body>
                </html>
