<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <link th:href="@{/styles/stylesLanzadera.css}" rel="stylesheet" type="text/css"/>
                </head>

                <body>
                    <h2>Naves Lanzadera</h2>

                    <section>

                        <div class="home-container_table" th:if="${lanzaderas != null and !lanzaderas.empty}">
                            <table border="1">
                                <tr>
                                    <th>Nombre</th>
                                    <th>Peso</th>
                                    <th>Energetico</th>
                                    <th>Objetivo</th>
                                    <th>Ubicacion</th>
                                    <th>Activo</th>
                                    <th>Averiado</th>
                                    <th>altura</th>
                                    <th>vehiculo a Lanzar</th>
                                    <th>lanzado</th>
                                </tr>

                                <tr th:each="lanzadera : ${lanzaderas}">
                                    <td th:text="${lanzadera.nombre}"></td>
                                    <td th:text="${lanzadera.peso}"></td>
                                    <td th:text="${lanzadera.energetico}"></td>
                                    <td th:text="${lanzadera.objetivo}"></td>
                                    <td th:text="${lanzadera.ubicacion}"></td>
                                    <td th:text="${lanzadera.activo}"></td>
                                    <td th:text="${lanzadera.averiado}"></td>
                                    <td th:text="${lanzadera.altura}"></td>
                                    <td th:text="${lanzadera.vehiculoALanzar}"></td>
                                    <td th:text="${lanzadera.lanzado}"></td>
                                </tr>
                            </table>
                        </div>

                    </section>

                </body>

                </html>
