<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <title>Detalles: Nave de Suministros</title>
        <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <link th:href="@{/styles/stylesDetalles.css}" rel="stylesheet" type="text/css"/>
                </head>
                <body>
                    <header th:replace="layout/plantilla :: header"/>

                    <h2>Detalles : Nave De Suministros</h2>

                    <section class="main_section">

                        <div>
                            <table>
                                <tr>
                                    <th>Valor</th>
                                    <th>Descripcion</th>
                                </tr>
                                <tr>
                                    <td><label for="id">ID</label></td>
                                    <td th:text=${deSuministros.idNave}></td>
                                </tr>
                                <tr>
                                    <td><label for="nombre">Nombre</label></td>
                                    <td th:text=${deSuministros.nombre}></td>
                                </tr>
                                <tr>
                                    <td><label for="peso">Peso [ T ]</label></td>
                                    <td th:text="${deSuministros.peso}"></td>
                                </tr>
                                <tr>
                                    <td><label for="energetico">Energetico</label></td>
                                    <td th:text="${deSuministros.energetico}"></td>
                                </tr>
                                <tr>
                                    <td><label for="objetivo">Objetivo</label></td>
                                    <td th:text="${deSuministros.objetivo}"></td>
                                </tr>
                                <tr>
                                    <td><label for="ubicacion">Ubicacion</label></td>
                                    <td th:text="${deSuministros.ubicacion}"></td>
                                </tr>
                                <tr>
                                    <td><label for="activo">Activo</label></td>
                                    <td th:text="${deSuministros.activo}"></td>
                                </tr>
                                <tr>
                                    <td><label for="averiado">Averiado</label></td>
                                    <td th:text="${deSuministros.averiado}"></td>
                                </tr>
                                <tr>
                                    <td><label for="altura">Capacidad de Carga</label></td>
                                    <td th:text="${deSuministros.capacidadCarga}"></td>
                                </tr>
                                <tr>
                                    <td><label for="lanzado">Acoplado</label></td>
                                    <td th:text="${deSuministros.acoplado}"></p></td>
                                </tr>
                                <tr>
                                    <td><p><strong>Metodos de la nave</strong></p></td>
                                    <td>
                                    <a th:href="@{/repararDeSuministros/} + ${deSuministros.idNave}"><button>Reparar</button></a>
                                    <a th:href="@{/activarDeSuministros/} + ${deSuministros.idNave}"><button>Activar</button></a>
                                    <a th:href="@{/moverDeSuministros/} + ${deSuministros.idNave}"><button>Mover</button></a>
                                    <a th:href="@{/reiniciarDeSuministros/} + ${deSuministros.idNave}"><button>Reiniciar</button></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p><strong>Editar o Eliminar Lanzadera</strong>
                                    </td>
                                    <td>
                                        <a th:href="@{/editarDeSuministros/} + ${deSuministros.idNave}"><button>Editar</button></a>
                                        <a th:href="@{/eliminarDeSuministros(idNave=${deSuministros.idNave})}"><button>Eliminar</button></a>
                                    </td>
                                </tr>
                            </table>
                        </div>

                        <div>
                            <div class="main_section_rigth_up">
                                <strong>Resultado del metodo ACTIVAR</strong>
                                <p th:text="${activar}"></p>
                            </div>
                            <div class="main_section_rigth_mid">
                                <strong>Resultado del metodo MOVER</strong>
                                <p th:text="${mover}"></p>
                            </div>
                            <div class="main_section_rigth_down">
                                <strong>Resultado de los metodos REINICIAR y REPARAR</strong>
                                <p th:text="${reparar}"></p>
                                <p th:text="${reiniciar}"></p>
                            </div>
                        </div>

                    </section>
                    
                    <header th:replace="layout/plantilla :: footer"/>
                </body>
                </html>
