* {
    font-family: 'Roboto', 'sans-serif';
}

main{
    max-width: 1200px;
    margin: 0 auto;
}

h2{
    text-align: center;
}

.main_section table{
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-collapse: collapse; 
}

.main_section table tr{
    height: auto;
}

.main_section table th{
    height: auto;
    padding: 1rem;
    text-align: left;
}

.main_section table td {
   text-align: left;
   vertical-align: central;
   border-top: 1px solid black;
   border-bottom: 1px solid black;
   padding: 0.5rem;
}

table tr th{
    background-color: #562561;
    color: #FDF4FF;
}

table tr:nth-child(odd) td{
    background-color: #FDF4FF;
}

table tr:nth-child(even) td{
    background-color: #F0FBFF;
}

header{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background: #562561;
    height: 50px;
    align-content: center;
}

header div a{
    color: #FDF4FF;
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    color: #FDF4FF;
    background: #562561;
}