* {
    font-family: 'Roboto', 'sans-serif';
}

main{
    max-width: 1200px;
    margin: 0 auto;
}

h2{
    text-align: center;
}

.home-container{
    display: grid;
    grid-template-columns: 1fr 3fr
}
